<h1>All Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <b><%= link_to post.title, posts_show_path(post) %></b>
    </li>
  <% end %>
</ul>

<%  if logged_in? %>
  <%= link_to "Create a New Post", posts_new_path, class: "new_post" %>
<% end %>

